
<div class="back-btn" (click)="goToMasters()">
  <svg width="10px" height="10px" viewBox="-0.72 -0.72 25.44 25.44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M22 12.2039V13.725C22 17.6258 22 19.5763 20.8284 20.7881C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.7881C2 19.5763 2 17.6258 2 13.725V12.2039C2 9.91549 2 8.77128 2.5192 7.82274C3.0384 6.87421 3.98695 6.28551 5.88403 5.10813L7.88403 3.86687C9.88939 2.62229 10.8921 2 12 2C13.1079 2 14.1106 2.62229 16.116 3.86687L18.116 5.10812C20.0131 6.28551 20.9616 6.87421 21.4808 7.82274" stroke="#1C274C" stroke-width="1.8" stroke-linecap="round"></path>
    <path d="M15 18H9" stroke="#1C274C" stroke-width="1.8" stroke-linecap="round"></path>
  </svg>
</div>



<div class="user-card">
  <div class="user-task">
    <h1>Users</h1>
    <button><i class="fa fa-plus"></i> Add</button>
  </div>

  <div class="user-details">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Riddhi Gonji</td>
          <td>7896457896</td>
          <td>riddhi2gmail.com</td>
          <td>Panvel</td>
          <td>
            <button class="edit-btn"><i class="fa fa-pencil"></i></button>
            <button class="delete-btn"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <td>Vijaya Chikane</td>
          <td>9875647854</td>
          <td>vijaya@gmail.com</td>
          <td>Thane</td>
          <td>
            <button class="edit-btn"><i class="fa fa-pencil"></i></button>
            <button class="delete-btn"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        <tr>
          <td>Parul Mishra</td>
          <td>7854698754</td>
          <td>shreya@gmail.com</td>
          <td>Nala Sopara</td>
          <td>
            <button class="edit-btn"><i class="fa fa-pencil"></i></button>
            <button class="delete-btn"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>