<!-- src/app/issues/issues.component.html -->
<div class="search-wrapper">
  <div class="input-group">
    <input
      type="text"
      placeholder="Search by name, status"
      [(ngModel)]="searchTerm"
      (input)="onSearch(searchTerm)"
      class="form-control"
    />
    <span class="input-group-text">
      <!-- <i class="fa fa-search"></i> -->
    </span>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>Issue ID</th>
        <th>Description</th>
        <th>User</th>
        <th>Raised Date</th>
        <th>Status</th>
        <th>Assign To</th>
        <th>Image</th>
        <th>Module</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let issue of issues">
        <td>{{ issue.id }}</td>
        <td>{{ issue.description }}</td>
        <td>{{ issue.user }}</td>
        <td>{{ issue.raisedDate | date:'mediumDate' }}</td>
        <td>{{ issue.status }}</td>
        <td>{{ issue.assignTo }}</td>
        <td>
          <img [src]="issue.imageUrl" alt="Issue Image" width="50" height="50" />
        </td>
        <td>{{ issue.module }}</td>
      
        <td>
  <div class="btn-group">
    <button class="btn btn-sm btn-primary me-2" (click)="editIssue(issue.id)">
      <i class="fa fa-pencil"></i>
    </button>
    <button class="btn btn-sm btn-danger me-2" (click)="deleteIssue(issue.id)">
      <i class="fa fa-trash"></i>
    </button>
    <button class="btn btn-sm btn-info" (click)="viewLog(issue.id)">
      <i class="fa fa-eye"></i>
    </button>
  </div>
</td>
      </tr>
    </tbody>
  </table>
</div>
