<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-1 py-1">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- Logo (Left-aligned) -->
    <a class="navbar-brand" href="/">
      <img src="assets/iFreightBox_Logo.png" height="65" width="170" alt="Logo" />
    </a>

    <!-- Navigation Links (Right-aligned) -->
    <div class="navbar-nav ml-auto">
      <a routerLink="/dashboard" routerLinkActive="active-link" class="nav-link">Dashboard</a>
      <a routerLink="/issues" routerLinkActive="active-link" class="nav-link">Issues</a>
      <a href="/gear" class="btn">
        <i class="fa fa-cog"></i>
      </a>
    </div>
  </div>
</nav>
