


 <div class="login-container">
  <div class="login-card">
    <h2>Login to MyApp</h2>

    <form
      (ngSubmit)="onSubmit()"
      #loginForm="ngForm"
      autocomplete="off"
    >
      <!-- Username -->
      <div class="form-group">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          name="name"
          [(ngModel)]="name"
          required
          placeholder="Enter your name"
        />
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Enter your password"
        />
      </div>

      <!-- Error Message -->
      <div *ngIf="loginError" class="error-message">
        {{ loginError }}
      </div>

      <!-- Remember Me & Forgot Password -->
      <div class="form-footer">
        <label class="checkbox-label">
          <input type="checkbox" name="rememberMe" ngModel />
         
          <span>Remember me</span>
          <br>
        </label>
        <a href="#">Forgot password?</a>
      </div>

      <!-- Submit Button -->
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
  </div>
</div>
