<div class="navbar">
  <ul class="nav-link">
    <li><a routerLink="/Home" routerLinkActive="active-link">Home</a></li>
    <li><a routerLink="/table" routerLinkActive="active-link">Table</a></li>
    <li><a routerLink="/statuslog" routerLinkActive="active-link">Status Log</a></li>
    <li><a routerLink="/assign-dev" routerLinkActive="active-link">Assign-Dev</a></li>
  </ul>

  <div class="navbar-right" *ngIf="showAddButton">
    <input
      type="text"
      placeholder="Search by name, status"
      [(ngModel)]="searchTerm"
      (input)="onSearch(searchTerm)"
      class="form-control"
    />

    <div class="button-group">
      <app-export></app-export>
      <button class="standard-button" routerLink="/add" (click)="showComponent()">
        <i class="fa fa-plus"></i> Add New Matable
      </button>
    </div>
  </div> -->
</div>
