<div class="popup-container" [ngStyle]="panelStyles" #popupRef>
  <div class="heading">
  </div>
  <ul class="master-subcategory">
    <li class="subcategory-item">
      <a [routerLink]="'/users'" class="subcategory-link" (click)="hidePanel()">
        <i class="fa fa-users"></i>
        <h4>Users</h4>
      </a>
    </li>
    <li class="subcategory-item">
      <a [routerLink]="'/status'" class="subcategory-link" (click)="hidePanel()">
        <i class="fa fa-spinner"></i>
        <h4>Status</h4>
      </a>
    </li>
    <li class="subcategory-item">
      <a [routerLink]="'/issue-type'" class="subcategory-link" (click)="hidePanel()">
        <i class="fa fa-bug"></i>
        <h4>Issue Type</h4>
      </a>
    </li>
  </ul>
</div>

