<div class="section-heading">
  <div class="heading">
    <img src="assets/images/icon1.png" alt="list_icon" class="icon1"> 
    <h2>Masters</h2>
  </div>
  <ul class="master-subcategory">
    <li class="subcategory-item">
      <a [routerLink]="'/users'" class="subcategory-link">
        <i class="fa fa-users"></i>
        <h4>Users</h4>
      </a>
    </li>
    <li class="subcategory-item">
      <a [routerLink]="'/status'" class="subcategory-link">
        <i class="fa fa-spinner"></i>
        <h4>Status</h4>
      </a>
    </li>
    <li class="subcategory-item">
      <a [routerLink]="'/issue-type'" class="subcategory-link">
        <i class="fa fa-bug"></i>
        <h4>Issue Type</h4>
      </a>
    </li>
  </ul>
</div>
